.info,
.amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info span {
  font-weight: bold;
  color: #a15933;
}
.cart-item {
  margin-top: 1rem;
}
.amount {
  margin-top: 0.2rem;
}
.amount span {
  font-weight: bold;
}
.actions button {
  padding: 0.2rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid #1f1b19;
  background-color: #f7e8dd;
  color: #1f1b19;
}
.actions button:hover {
  background-color: #a15933;
}
.actions button:first-child {
  margin-right: 0.5rem;
}
